<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
    <php>
        <server name="KERNEL_DIR" value="./Tests/App/app" />
    </php>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <testsuites>
        <testsuite name="Padam87AttributeBundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>